@font-face {
	font-family: 'Vinque';
	src: url('../fonts/vinque.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/vinque.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/vinque.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/vinque.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/vinque.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/vinque.svg#vinque') format('svg'); /* Chrome < 4, Legacy iOS */
}