@font-face {
    font-family: 'BeaumarchaisC';
    src: url('/fonts/beaumarchaisc/beaumarchaisc.eot'); /* IE 9 Compatibility Mode */
    src: url('/fonts/beaumarchaisc/beaumarchaisc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('/fonts/beaumarchaisc/beaumarchaisc.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/beaumarchaisc/beaumarchaisc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('/fonts/beaumarchaisc/beaumarchaisc.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/beaumarchaisc/beaumarchaisc.svg#beaumarchaisc') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'CloisterBlackLight';
    src: url('/fonts/cloister_black_light/cloister_black_light.eot'); /* IE 9 Compatibility Mode */
    src: url('/fonts/cloister_black_light/cloister_black_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('/fonts/cloister_black_light/cloister_black_light.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/cloister_black_light/cloister_black_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('/fonts/cloister_black_light/cloister_black_light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/cloister_black_light/cloister_black_light.svg#cloister_black_light') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'SquealerEmbossed';
    src: url('/fonts/squealer_embossed/squealer_embossed.eot'); /* IE 9 Compatibility Mode */
    src: url('/fonts/squealer_embossed/squealer_embossed.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('/fonts/squealer_embossed/squealer_embossed.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/squealer_embossed/squealer_embossed.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('/fonts/squealer_embossed/squealer_embossed.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/squealer_embossed/squealer_embossed.svg#squealer_embossed') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'Vinque';
    src: url('/fonts/vinque/vinque.eot'); /* IE 9 Compatibility Mode */
    src: url('/fonts/vinque/vinque.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('/fonts/vinque/vinque.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/vinque/vinque.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('/fonts/vinque/vinque.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/vinque/vinque.svg#vinque') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'MS';
    src: url('/fonts/MicrosoftSansSerif.woff2') format('woff2')
}

